@import "../utilities/variables";

.section,
.header,
.footer {
  width: 100%;
}

.section {
  padding: 10px;

  @media (min-width: 551px) {
    padding: 20px 10px;
  }
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 0;
}

.section-subheading {
  text-align: center;
  color: $color-primary;
  margin-bottom: 15px;
}
