.tamagotchiStatus {
  background-color: #ddd;
  outline: 1px solid #bbb;
  padding: 5px 10px;
  min-height: 118px;
  width: 100%;
  margin-bottom: 20px;
  @media (min-width: 551px) {
    width: 48%;
  }
}

.tamagotchiStatus p {
  font-family: monospace;
}
