@import "../utilities/variables";

.containerStats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tamagotchiTrait__container {
  display: flex;
  flex: 3;
  flex-wrap: wrap;
}

.tamagotchiTrait {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 48%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;

  @media (min-width: 551px) {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    flex: 0 32%;
  }
}

.tamagotchiTrait--title {
  text-transform: capitalize;
}

p.currentLevel {
  font-size: 20px;
  font-weight: 400;
}

.currentLevel.highlight {
  font-weight: 700;
}

.tamagotchiTrait hr {
  background-color: $color-secondary;
}
